<div class="left-sidebar">
    <h2>Category</h2>
    
    <input type="text" id="catergorySerachInput" class="search-cat-brand" onkeyup="searchCategory()" placeholder=" Search Categories ">

    <div class="panel-group category-products" id="accordian"><!--category-productsr-->
       	<div id="Sportswear" class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordian" href="#sportswear">
                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                        Sportswear
                    </a>
                </h4>
            </div>
            <div id="sportswear" class="panel-collapse collapse">
                <div id="Sportswear:child" class="panel-body">
                    <ul>
                        <li><a href="#">Nike </a></li>
                        <li><a href="#">Under Armour </a></li>
                        <li><a href="#">Adidas </a></li>
                        <li><a href="#">Puma</a></li>
                        <li><a href="#">ASICS </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="Mens" class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordian" href="#men">
                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                        Mens
                    </a>
                </h4>
            </div>
            <div id="men" class="panel-collapse collapse">
                <div id="Mens:child" class="panel-body">
                    <ul>
                        <li><a href="#">Fendi</a></li>
                        <li><a href="#">Guess</a></li>
                        <li><a href="#">Valentino</a></li>
                        <li><a href="#">Dior</a></li>
                        <li><a href="#">Versace</a></li>
                        <li><a href="#">Armani</a></li>
                        <li><a href="#">Prada</a></li>
                        <li><a href="#">Dolce and Gabbana</a></li>
                        <li><a href="#">Chanel</a></li>
                        <li><a href="#">Gucci</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="Womens" class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordian" href="#women">
                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                        Womens
                    </a>
                </h4>
            </div>
            <div id="women" class="panel-collapse collapse">
                <div id="Womens:child" class="panel-body">
                    <ul>
                        <li><a href="#">Fendi</a></li>
                        <li><a href="#">Guess</a></li>
                        <li><a href="#">Valentino</a></li>
                        <li><a href="#">Dior</a></li>
                        <li><a href="#">Versace</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="chocolates" class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><a href="/category/chocolates">Chocolates</a></h4>
            </div>
        </div>
       <div id="shoes" class="panel panel-default">
            <div  class="panel-heading">
                <h4 class="panel-title"><a href="#">Shoes</a></h4>
            </div>
        </div>
        <div id="Kitchen" class="panel panel-default">
            <div  class="panel-heading">
                <h4 class="panel-title"><a href="#">Kitchen</a></h4>
            </div>
        </div>
        <div id="Shampoo" class="panel panel-default">
            <div  class="panel-heading">
                <h4 class="panel-title"><a href="#">Shampoo</a></h4>
            </div>
        </div>
        <div id="Soap" class="panel panel-default">
            <div  class="panel-heading">
                <h4 class="panel-title"><a href="#">Soap</a></h4>
            </div>
        </div>
        <div id="Cooking oil" class="panel panel-default">
            <div  class="panel-heading">
                <h4 class="panel-title"><a href="#">Cooking oil</a></h4>
            </div>
        </div>
        <div id="shoes5" class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><a href="#">Shoes5</a></h4>
            </div>
        </div>
        <div id="shoes6" class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><a href="#">Shoes6</a></h4>
            </div>
        </div>
        <div id="shoes7" class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><a href="#">Shoes7</a></h4>
            </div>
        </div>
        <div id="shoes8" class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><a href="#">Shoes8</a></h4>
            </div>
        </div>
        <div id="shoes9" class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><a href="#">Shoes9</a></h4>
            </div>
        </div>
        <div id="shoes10" class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><a href="#">Shoes10</a></h4>
            </div>
        </div>
        
    </div><!--/category-products-->

    <div class="brands_products"><!--brands_products-->
        <h2>Brands</h2>
        
        <input type="text" id="brandSerachInput"  class="search-cat-brand"  onkeyup="searchBrand()" placeholder=" Search Brand ">
        <div class="brands-name">
            <ul id="brandList" class="nav nav-pills nav-stacked">
                <li><a href="#"> Acne</a></li>
                <li><a href="#"> Grüne Erde</a></li>
                <li><a href="#"> Albiro</a></li>
                <li><a href="#"> Ronhill</a></li>
                <li><a href="#"> Oddmolly</a></li>
                <li><a href="#"> Boudestijn</a></li>
                <li><a href="#"> Rösch creative culture</a></li>
            </ul>
        </div>
    </div><!--/brands_products-->

    <div class="price-range"><!--price-range-->
        <h2>Price Range</h2>
        <div class="well text-center">
            <input type="text" s value="" data-slider-min="0" data-slider-max="10000" data-slider-step="100" data-slider-value="[0,10000]" id="sl2" ><br />
            <b class="pull-left">&#8377 0</b> <b class="pull-right">&#8377 10000</b>
        </div>
    </div><!--/price-range-->

    <div class="shipping text-center"><!--shipping-->
        <img src="/images/home/shipping.jpg" alt="" />
    </div><!--/shipping-->

</div>
<script>
function searchCategory() {
   
    var input = document.getElementById('catergorySerachInput');
    var filter = input.value.toUpperCase();
    var accordian = document.getElementById("accordian");
    var children = accordian.childNodes;
    console.log(filter);
    for (var i = 0; i < children.length; i++) {
    	var firstChild = children[i];
    	var id = firstChild.id;
        if(id){
	        if (id.toUpperCase().indexOf(filter) > -1) {
	            firstChild.style.display = "";
	        } else {
	            firstChild.style.display = "none";
	        }
	       
	        var childId = id + ":" + "child";
	        var subCategory = document.getElementById(childId);
	        console.log(firstChild);
    
	        if(subCategory){
	        	console.log(subCategory);
    
	        	var lis = subCategory.getElementsByTagName('li');
		        for (var j = 0; j < lis.length; j++) {
		        	
			        var a = lis[j].getElementsByTagName("a")[0];
			        console.log(a);
			        if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
			            firstChild.style.display = "";
			            break;
			        } 
	    		}
	        }
	        
        }
    		
    }
}
    
function searchBrand() {
    var input = document.getElementById('brandSerachInput');
    var filter = input.value.toUpperCase();
    var ul = document.getElementById("brandList");
    var li = ul.getElementsByTagName('li');
	console.log(filter);
	console.log(li);
    var a, i;
    for (i = 0; i < li.length; i++) {
    	
        a = li[i].getElementsByTagName("a")[0];
        console.log(a);
        if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}
</script>
